/* ---------------- footer Section ---------------- */
#footer_Same {
    /* border: 2px solid blue; */
    height: 400px;
    background-color: #29323c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
}

.footerContainer {
    /* border: 2px solid red; */
    width: 94%;
    height: 85%;
    display: flex;
}

.footerContainer .other {
    /* border: 2px solid white; */
    width: 92%;
}

.footerContainer .links {
    /* border: 2px solid white; */
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links i {
    color: white;
    margin: 10px 0;
    font-size: 1.3rem;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.links i:hover {
    border: 1px solid black;
    color: black;
}


.footerCopyright {
    border-top: 0.5px solid rgb(26, 26, 26);
    width: 94%;
    height: 13%;
    display: flex;
    justify-content: space-between;
}

.footerCopyright .logo {
    margin-left: 20px;
}

.footerLogo {
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footerLogo img {
    width: 42px;
    margin-left: 10px;
}

footer p {
    color: white;
    font-weight: 200;
    margin-right: 30px;
}

.subdetailbody {
    border: 2px solid #29323c;
    /* border: 2px solid blue; */
    border-radius: 30px;
    height: 75%;
    padding-left: 20px;
}

.subdetailbody h1 {
    margin-top: 30px;
    color: lightblue;
    font-weight: 300;
    font-size: 1.5rem;
}

.subdetailfooter {
    /* border: 2px solid red; */
    height: 10%;
    display: flex;
    align-items: center;
}

.subdetailfooter a {
    padding-right: 20px;
    padding-left: 20px;
    color: #ebedee;
    font-weight: 300;
    font-size: 0.95rem;
    border-right: 1px solid rgb(26, 26, 26);
    /* border: 2px solid red; */
}

.emailGot {
    display: flex;
    align-items: center;
}

.emailGot input {
    width: 41%;
    border: none;
    outline: none;
    background-color: #29323c;
    border-bottom: 1px solid lightblue;
    margin: 0 10px;
    color: white;
    /* border: 2px solid blue; */
    font-size: 1.1rem;
    font-weight: 300;
}

.emailGot button {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29323c;
    box-shadow: 0 1px 3px 0 black;
    cursor: pointer;
}



/* ----------------------------------------- Company Location ------------------------------ */

iframe{
    
    border-radius: 10px;
    /* border: 5px solid rgb(192, 240, 34); */
    margin-right: 90px ;
    margin-top: 55px;
}   