@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: #d5ecfa; */
}

body{
    font-family: 'poppins', 'sans-serif';
    /* background: url(../professional/images/web\ development.jpg); */

    
}

.main_box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    height: 600px;
    position: relative  ;
    position: relative;
}

.form_details{  
    /* border: 2px blue solid; */
    width: 70%;
    height: 90%;
    margin: 10px 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border-left: 8px solid #8E05C2; */
    border-radius: 30px;
    box-shadow: 0 0 8px 0 #ccc;
    position: relative;
    /* backdrop-filter: blur(1px); */
}

form {
    /* max-width: 700px; */
    /* margin: 0 auto; */
    padding:  0 40px;
    border-radius: 5px;
   
    font-family: Arial, sans-serif;
}
label {
    margin-bottom: 5px;
    margin: 5px;
    color: gray;
}
label {
    margin-bottom: 5px;
    /* border: 2px solid red; */
}
input[type="text"], select {
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 #ccc;
    /* border-radius: 5px; */
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    /* text-transform: capitalize; */
    color: #727272;
}

input[type="email"], select {
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 #ccc;
    /* border-radius: 5px; */
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    /* text-transform: capitalize; */
    color: #727272;
}

input[type="number"], select {
    border: none;
    outline: none;
    width: 100%;
    height: 48px;
    padding: 2px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 #ccc;
    /* border-radius: 5px; */
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    /* text-transform: capitalize; */
    color: #727272;
}

select{
    border-right: 12px solid transparent;
}

input[type="submit"] {
    width: 120px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #8E05C2;
    color: #fff;
    padding: 12px 0px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    box-shadow: 0 0 5px 0 #ccc;
}
input[type="submit"]:hover{
    box-shadow: 0 0 5px 0 #579BB1;
}
input[type="reset"] {
    background-color: #579BB1;
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #ccc;
}
input[type="reset"]:hover{
    box-shadow: 0 0 5px 0 #579BB1;
}

#desp_trip{
    /* border: 2px solid red; */
    border-radius: 40px;
    width: 100%;
    height: 100%;
    resize: none;
    box-shadow: 0 0 5px 0 #ccc;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'poppins', sans-serif;
    /* text-transform: capitalize; */
    overflow: hidden;
    color: #727272;
}

.formBtn{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBtn #next-slider{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ca44ff;
    color: #fff;
    margin-left: 20px;
    padding: 12px 0px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    box-shadow: 0 0 5px 0 #ccc;
}

.formBtn button:hover{
    box-shadow: 0 0 5px 0 #8E05C2;
}

.feedback{
    /* border: 2px green solid;           */
    height: 350px;
    /* margin: 7px 18px; */
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.feedback::-webkit-scrollbar{
    display: none;
}
.feedback .similarItems{
    /* border: 2px black solid; */
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 10px;
    min-width: 295px;
    height: 330px;
    margin: 0 10px;
}
.feedback .similarItems:nth-child(1){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201308.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(2){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201317.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(3){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201322.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(4){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201422.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(5){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(6){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}.feedback .similarItems:nth-child(7){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}.feedback .similarItems:nth-child(8){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}.feedback .similarItems:nth-child(9){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}



/* ------------------------- Rajan Added @ 15-04-2023 ---------------------------*/

/* Form Title */
.form-title{
    /* border: 2px solid red; */
    
    position: absolute;
    top: 17px;
    left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_details i{
    color: #FB2576;
    font-size: 1.5rem;
    margin-right: 15px;
}

.form-title h1{
    font-size: 1.3rem;
    font-weight: 300;
}

/* Form Different Sections */

.form-section{
    /* border: 2px solid red; */
    width:42%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    border-radius: 40px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 0 5px 0 #ccc;
}

.form-section input{
    display: none;
}

.form-section label{
    /* border: 2px solid blue; */
    outline: none;
    width: 62%;
    height: 90%;
    font-size: 1.1rem;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(97, 97, 97);
    cursor: pointer;
}

input[type="radio"]:checked+label{ 
    color: white;
    background-color:  #3A98B9;
    box-shadow: 0 0 10px 0 #ccc;
} 

/* Persional Form */

.form-input{
    /* border: 2px solid red; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100%;
}

.form-input div{
    /* border: 2px solid blue; */
    width: 32%;
    margin: 5px;
}

.form-input div:last-child{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
}

/* Details Slider*/

.details-slider{
    /* border: 2px solid blue; */
    display: flex;
    overflow: hidden;
    position: relative;
    scroll-behavior: smooth;
}