*{
    margin: 0;
    padding: 0;
    /* background-color: #d5ecfa; */

}

.main_box{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* border: 2px solid red; */
    height: 730px;
    position: relative  ;
    position: relative;
}
.description_image{
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 630px;
    background-image: url(/domestic/images/construcation\ worker.jpg);
}

.form_details{  
    /* border: 2px blue solid; */
    width: 40%;
    height: 100%;
    height: 730px;
    margin: 0 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #8E05C2;
    box-shadow: 0 0 5px 0 #ccc;
}

.form_details h1{
    /* border: 2px solid blue; */
    text-align: center;
    margin-bottom: 40px;
}

form {
    /* max-width: 700px; */
    /* margin: 0 auto; */
    padding:  0 40px;
    border-radius: 5px;
   
    font-family: Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin: 5px;
    color: gray;
}
label {
    display: none;
    margin-bottom: 5px;
    font-weight: bold;
    /* border: 2px solid red; */
}
input[type="text"], select {
    width: 100%;
    height: 50px;
    padding: 2px 20px;
    border-radius: 40px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
input[type="submit"] {
    background-color: #8E05C2;
    color: #fff;
    margin: 0 30px;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
input[type="reset"] {
    background-color: #B0DAFF;
    color: #fff;
    padding: 12px 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    border-radius: 40px;
} 

#desp_trip{
    /* border: 2px solid red; */
    border-radius: 40px;
    width: 100%;
    height: 50px;
    resize: none;
}

.formBtn{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback{
    /* border: 2px green solid;           */
    height: 350px;
    margin: 7px 18px;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.feedback::-webkit-scrollbar{
    display: none;
}
.feedback .similarItems{
    /* border: 2px black solid; */
    min-width: 295px;
    height: 310px;
    margin: 0 3px;
}
.feedback .similarItems:nth-child(1){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201308.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(2){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201317.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(3){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201322.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(4){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201422.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(5){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}
.feedback .similarItems:nth-child(6){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}.feedback .similarItems:nth-child(7){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}.feedback .similarItems:nth-child(8){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}.feedback .similarItems:nth-child(9){
    background-image: url(/transport/images/feedback/Screenshot_20230221_201428.png);
    background-size: cover;
}