<footer id="footer_Same">
        <div class="footerContainer">
            <div class="other">
                <div class="subdetailbody">
                    <h1>Connect with us...</h1>
                    <p>Join us to know updates and future opportunities. We are tring our best <br> and also want you to
                        give their feedbacks and help us to improve our <br> services.</p>
                    <div class="emailGot">
                        <span class="material-symbols-outlined" style="color: lightblue; font-size: 1.8rem;">
                            mail
                        </span>
                        <input type="text">
                        <button class="forwardBtn">
                            <span class="material-symbols-outlined" style="color: lightblue;">
                                arrow_forward
                            </span>
                        </button>
                    </div>
                </div>
                <div class="subdetailfooter">
                    <a href="">Repair</a>
                    <a href="">Teaching</a>
                    <a href="">Travelling</a>
                    <a href="">Selling & Buying</a>
                    <a href="">Consulting</a>
                </div>
                <div class="subdetailfooter">
                    <a href="">Privicy & Policy</a>
                    <a href="">Terms & Conditions</a>
                    <a href="">About Us</a>
                    <a href="">Contect Us</a>
                </div>
            </div>
            <div class="company_location">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48963.79654063322!2d85.11822676769556!3d25.595282896486744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f2a786ef13df6b%3A0x758c9919d1f16f70!2sMaurya%20Public%20High%20School!5e1!3m2!1sen!2sin!4v1682405608151!5m2!1sen!2sin" width="450" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="links">
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
                <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="footerCopyright">
            <div class="footerLogo">
                <img src="assets/Logo-bg.png" alt="Logo">
                <span style="word-spacing:3%;">uvidha</span>
            </div>
            <p>&#169; Copyright claim 2023, Suvidha Pvt. Ltd.</p>
        </div>
    </footer>