<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/about.css">
     <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


</head>

<body>

     {{>navbar}}
    <!-- <div class="title">
        <h1>About Us</h1>
    </div> -->
    <section class="about_us">
        <div class="company_details">
            <h1> About Us</h1>
            <p> At Suvidha, we understand that modern life can be hectic and time-consuming.
                That's why we have dedicated ourselves to providing comprehensive service
                solutions for every aspect of your life. From home and office cleaning to
                appliance repair and beauty services, we've got you covered.
                Our team of skilled professionals are committed to providing exceptional service
                with a personal touch. We take pride in our attention to detail and ensure that
                every job is completed to your satisfaction. We use only the highest quality
                products and equipment to ensure that your experience with Suvidha is nothing
                short of amazing.
                At Suvidha, we believe that everyone deserves the luxury of convenience. That's
                why we offer flexible scheduling options, including evening and weekend
                appointments. Our goal is to make your life easier and more enjoyable, so you
                can focus on the things that matter most to you.
                We are constantly expanding our service offerings to meet the evolving needs of
                our customers. Our team is committed to staying up-to-date with the latest
                industry trends and technologies, so we can continue to provide you with the
                best possible service.
                Thank you for choosing Suvidha as your service provider. We look forward to
                serving you and exceeding your expectations</p>

            <div class="customer_details">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="working_process">
            <h2>How We Do It?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quam a iste reprehenderit esse,
                cumque repudiandae necessitatibus? Impedit voluptate, voluptates aliquid ipsa voluptatum expedita non
                quod perferendis est nesciunt maiores deleniti ipsum praesentium fugit laborum eum quo itaque at
                pariatur perspiciatis cum. Quas sint dolor ratione labore minima facilis facere fugiat fuga! Nemo
                possimus perspiciatis suscipit corporis. Similique repellendus fugiat non possimus tempore cupiditate
                vitae voluptatum.

            </p>
        </div>

        <div class="leadership_team">
            <h2>Our Leadership Team </h2>
            <div class="all_teams">
                <div class="main_team">
                    <div class="team_image"></div>
                    <h3>Shubham Prakash </h3>
                    <h5>CEO & Co-founder, Suvidha</h5>
                    <div class="social_logo">
                         <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti fuga possimus veritatis sint
                        eaque tempora? Recusandae laudantium dignissimos tenetur eaque suscipit hic commodi voluptates
                        numquam excepturi laboriosam voluptate sit, repellat, voluptatum, doloribus est!</p>
                </div>
                <div class="main_team">
                    <div class="team_image"></div>
                    <h3>Prakash</h3>
                    <h5>CPTO & Co-founder, Suvidha</h5>
                    <div class="social_logo">
                         <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti fuga possimus veritatis sint
                        eaque tempora? Recusandae laudantium dignissimos tenetur eaque suscipit hic commodi voluptates
                        numquam excepturi laboriosam voluptate sit, repellat, voluptatum, doloribus est!</p>
                </div>
                <div class="main_team">
                    <div class="team_image"></div>
                    <h3>Gyan</h3>
                    <h5>COO & Co-founder, Suvidha</h5>
                    <div class="social_logo">
                         <a href=""><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti fuga possimus veritatis sint
                        eaque tempora? Recusandae laudantium dignissimos tenetur eaque suscipit hic commodi voluptates
                        numquam excepturi laboriosam voluptate sit, repellat, voluptatum, doloribus est!</p>
                </div>
            </div>
        </div>

        <div class="investor">
            <h2>Our Investor</h2>
            <div class="investor_section">
                <div class="items"></div>
                <div class="items"></div>
                <div class="items"></div>
                <!-- <div class="items"></div> -->
                <!-- <div class="items"></div> -->
                <!-- <div class="items"></div> -->
                <!-- <div class="items"></div> -->
            </div>
        </div>
    </section>
   

   
   {{>footer}}

</body>

</html>